body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper {
       width: 1215px;
       margin: 0 auto;

}

nav {
	height: 37px;
	background: #069;
	border: 1px transparent;
}



.topmenu ul {
    width: 740px;
    padding-left: 460px;
    padding-right: 15px;
    list-style: none;
    background: #069;  
}

.topmenu li {
	display: inline-block;
	height: 37px;
	
}

.flag  {
	border-left: 1px solid #69c;
	width: 160px;
	
}


li:first-of-type {
	width: 100px;

}

li:last-of-type {
	width: 170px;
	color: #000;
}

.topmenu a {
	display: block;
	font-size: 14px;
	font-family: Tahoma, Arial;
	color: #fff;
	text-decoration: none;
	min-width: 70px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-weight: 100;	
}

.topmenu span {
	
	text-decoration: underline;
	
}

.topmenu img {
    margin-right: 10px;
    vertical-align: middle;
}


ul li:hover .topmenu {
    display: block;
}

.topmenu a:hover {
    background: #69c;
    color: white;
}


.conteiner {
	width: 560px;
	height: 620px;
    background: rgba(51, 51, 51, 0.5);
    margin: 50% auto 0;
	transform: translateY(-50%);	
}

.info {
	
}

h1 {
    text-align: center;
	font-family: Tahoma;
	color: #fff;
	border-bottom: 3px solid #fff;
	padding: 31px 0;
	font-size: 18px;
}


